body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #222831;
}

.App {
  padding: 1em 3em;
  color: #eeeeee;
  max-width: 500px;
}
@media only screen and (max-width: 500px) {
  .App {
    padding: 0.5em;
  }
}

#setting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 0.2em;
}
#setting h2 {
  font-size: 20px;
}

#type {
  grid-area: 1/1/2/3;
}
span {
  cursor: pointer;
}

#break span,
#session span {
  margin: 0 0.5em;
  font-size: 20px;
  font-weight: bolder;
  padding: 0.2em 0.7em;
  border: 2px solid gray;
}

#timer {
  text-align: center;
  border: 2px solid gray;
  margin-top: 2em;
  padding: 0.5em;
}

#time-left {
  font-size: 30px;
}

#timer span {
  display: inline-block;
  margin: 5px 1em;
  border: 2px solid gray;
  padding: 0.5em 1em;
}
